.profile__edit-button {
    padding: 12px 12px;
    background-position: center;
    background: url(../../../images/edit_button.svg);
    background-size: cover;
    border: none;
    margin-left: 21px;
    box-shadow: none;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .5;
}

@media screen and (max-width: 880px) {
  .profile__edit-button {
    margin-left: 8px;
    padding: 9px 9px;
    right: 31px;
    top: 19px;
  }
}
