.place__name {
   margin: 25px 0 26px 21px;
   max-width: 188px;
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;

}
