.popup__close {
    position: absolute;
    top: -47px;
    right: -47px;
    padding: 0;
    width: 58px;
    width: 57px;
    height: 57px;
    box-shadow: none;
    cursor: pointer;
    border: none;
    background: url(../../../images/close.svg);
}

.popup__close:hover {
    opacity: .5;
}

@media screen and (max-width: 500px) {
  .popup__close {
    top: - 36px;
    right: -36px;
    height: 42px;
    width: 42px;
  }
}
