.popup__close {
    position: absolute;
    top: -48px;
    right: -48px;
    width: 58px;
    box-shadow: none;
    cursor: pointer;
    background: url(../../../images/close.svg) center;
    height: 57px;
    width: 57px;
    border: none;
    padding: 0;
}

.popup__close:hover {
    opacity: .5;
}

@media screen and (max-width: 520px) {
  .popup__close {
    width: 42px;
    height: 42px;
    top: -36px;
    right: -36px;
  }
}
