.popup__about {
    display: block;
    position: relative;
    padding: 34px 36px;
    min-width: 358px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    background: white;
}

@media screen and (max-width: 500px) {
  .popup__about {
    min-width: 62.5%;
    padding: 30px 20px;
  }
}
