.indention {
    margin: 0 auto;
    max-width: 882px;
}

@media screen and (max-width: 590px) {
  .indention {
    max-width: 282px;
  }
}

@media screen and (min-width: 590px) and (max-width:880px) {
  .indention {
    max-width: 582px;
  }
}
