.place__button-like {
    margin: 0 17px 0 0;
   padding: 0;
   background: url(../../../images/h.svg);
   border: none;
   object-fit: cover;
   width: 20.76px;
   height: 18.13px;
   cursor: pointer;
   box-shadow: none;
}

.place__button-like:hover {
   opacity: .5;
}
